.detalhes {
    padding: 40px;
    max-width: 960px;
    margin: auto;
}

.detalhes__container {
    display: flex;
    gap: 32px;
    padding: 24px;
    border-radius: 8px;
}
.detalhes__image {
    width: 300px;
    height: 400px;
    border-radius: 8px; 
    object-fit: cover;
}

.detalhes__info {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}
.detalhe__info h2 {
    font-size: 1.8rem;
    margin-bottom: 16px;
    color: #e50914
}
.detalhe__info p {
    font-size: 1.08rem;
    margin-bottom: 1.6;
    color: #ddd
}
.detalhe__voltar {
    display: block;
    text-align:  right;
    margin-bottom: 24px;
    font-weight: 500;
    color: #e50914;
}