.header {
    background-color: #1F1F1F;
    padding: 1rem 2 rem;;
}

.header__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__logo a {
    color: #e50914;
    text-decoration: none;
    font-size: 1.5rem;
    font-weight: bold;
}

.header__nav a{
    color: #ccc;
    text-decoration: none;
    margin-left: 1rem;
}

.header__nav a:hover {
    color: #e50914;

}